@import 'common.css';
@import "header.css";
@import "main.css";
@import "icon.css";
@import "window.css";
@import "context_menu.css";
@import "font.css";
@import "window_view_type.css";
@import "time.css";
@import "auth.css";
@import "file.css";

html,body{
  width:100%;
  height:100%;
  overflow:hidden;
  padding:0;
  margin:0;
  outline:none;
}

#hoge{
  display:block;
}