#desktop #modal{
  position:absolute;
  z-index:30000;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:#eee;
  /* border:2px solid #aaa; */
  border-radius:10px;
  padding:20px;
  display:block;
  width:400px;
  max-width:100%;
  margin:10px;
  color:black;
  box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}
#desktop #modal button{
  display:block;
  height:30px;
  margin:20px auto 0;
  white-space:nowrap;
  padding:0px 20px;
  background-color:var(--hover-color);
  /* border:1px solid #888; */
  border-radius:15px;
  color:white;
  cursor:pointer;
  font-size:0.9em;
}
#desktop #modal button:hover{
  opacity:0.5;
}

#desktop #modal .buttons{
  display:flex;
  gap:10px;
  justify-content:space-around;
}