[data-id="contact"] h1{
  text-align:center;
  margin:20px;
}

[data-id="contact"] form{
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

[data-id="contact"] form p{
  margin:0;
}

[data-id="contact"] form button{
  display:block;
  margin-top:30px;
}