/**
* Icon
*/

#desktop{
  --icon-size      : 50px;
  --icon-margin    : 10px;
  --icon-font-size : 10px;
  --z-move-add : 2000;
}

#desktop .icon{
  --w : calc(var(--icon-size) + var(--icon-margin) * 2 );
  --h : auto;
  --x : 0px;
  --y : 0px;
  --z : 1;

  width     : var(--w);
  height    : var(--h);
  top       : var(--y);
  left      : var(--x);
  z-index   : var(--z);

  position:absolute;
  display   : flex;
  flex-direction: column;
  gap       : 4px;
  border    : 2px solid transparent;
  border-radius:5px;
  overflow  : hidden;
  border: 1px solid transparent;
}

/* Icon移動中 */
#desktop .icon[data-status="move"]{
  /* z-index : calc(var(--z) + var(--z-move-add)); */
  /* display:none; */
  opacity:0.5;
  z-index:-1;
}

/* Icon移動していない時の挙動 */
#desktop .icon:not([data-status="move"]){
  transition-property: left,top;
  transition-duration: 0.3s;
}

#desktop .icon img{
  display   : block;
  margin    : 0 var(--icon-margin);
  width     : var(--icon-size);
  height    : var(--icon-size);
  object-fit: contain;
  pointer-events:none;
}

#desktop .icon .name{
  display   : block;
  margin    : 0;
  padding   : 2px;
  width     : 100%;
  font-size : var(--icon-font-size);
  text-align: center;
  line-height: 1.4em;
  word-break: break-all;
  border-width:1px;
  border-style:solid;
  border-color:transparent;

  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/**
* Select
*/
#desktop .icon[data-select],
#desktop .icon-move-instance[data-select] .icon{
  border-color:rgba(255,255,255,0.5);
  background-color:rgba(0,0,0,0.3);
}

#desktop .icon[data-select] .name,
#desktop .icon-move-instance[data-select] .name{
  background-color:rgb(66, 86, 188);
  color:white;
}

/**
* Instance
*/
#desktop .icon-move-instance{
  position : absolute;
  z-index  : var(--z-move-add);
  /* top      : 0;
  left     : 0; */
  pointer-events:none;
}
#desktop .icon-move-instance .icon{
  top:0;
  left:0;
}

/**
* Overlap
*/
#desktop .icon[data-overlap]{
  border-color:rgba(255,255,255,0.5);
  background-color:rgba(0,0,0,0.3);
}

#desktop .icon[data-overlap] .name{
  background-color:rgb(66, 86, 188);
  color:white;
}

#desktop .icon[data-overlap="prohibited"]{
  border-color:rgba(255, 160, 160, 0.5);
  background-color:rgba(0,0,0,0.3);
}

#desktop .icon[data-overlap="prohibited"] .name{
  background-color:rgb(188, 92, 66);
  color:white;
}

/**
* Contenteditable
*/

#desktop .icon .name[contenteditable="true"],
#desktop .icon[data-overlap="prohibited"] .name[contenteditable="true"]{
  background-color:white;
  border-color:rgb(66, 86, 188);
  border-radius:5px;
  color:black;
}
